{% extends "base.html" %}
{% load i18n staticfiles %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block extra_head %}
<style>
#homepage-jumbotron {
  background-image: url("{% static 'img/arches.png' %}");
}

.container .row img {
  width: 95%;
}

#homepage-jumbotron .left-side h4 {
  padding-bottom: 10px;
}
#homepage-jumbotron .left-side, #homepage-jumbotron .right-side  {
  padding-top: 30px;
}

</style>
{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block pre_main %}

<div class="jumbotron" id="homepage-jumbotron">
  <div class="container">
    <div class="row">
      <div class="left-side text-center col-xs-3">
          <h4>Great for organic plant growth</h4>
          <h4>Low odor - safe to handle</h4>
          <h4>Made from whole carp</h4>
          <h4>No enzymes added - no nutrients removed</h4>
          <h4>Made locally in Idaho</h4>
          <h4>Pending ISDA Organic Certification</h4>
      </div>
      <div class="col-xs-6">
        <img src="{% static "img/Carpe_Carpum_full_color.png" %}" class="img-rounded" id="jumbotron-main-img"/>
      </div>
      <div class="right-side col-xs-3">
        <img src="{% static "img/fertilizer_bottles.jpg" %}" class="img-rounded" />
        <h4>$30 - Gallon $10 - Quart, plus tax</h4>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block main %}

<!-- Main Content -->
<div class="container">

  <div class="row" id="tagline">
    <div class="col-md-12">
      <h2 class="text-center"><em>Great For Your Plants, Great For Your Planet</em></h2>
    </div>
  </div>

  <hr/>

  <div class="row" id="features-pitch">
    <div class="feature text-center col-md-4">
      <img src="{% static 'img/Carp_pile_feature.png' %}" alt="European carp" class="img-circle" />
      <p>
      Carpe Carpum is made here in Idaho from whole invasive European carp.  We selectively capture European carp and through safe, nontoxic, cold hydrolysis transforms them into a naturally rich, organic fertilizer--a solution for your plants, a solution for our planet.
      </p>
    </div>
    <div class="feature text-center col-md-4">
      <img src="{% static 'img/Wildflowers_feature.png' %}" class="img-circle" />
      <p> Carpe Carpum organic fertilizer is a concentrated liquid spray that is great for your garden.  </p>
      <p> <em>"Extraordinary root growth - bountiful plants.  I love it!"</em><br/> Master Gardener K G., Boise </p>
    </div>
    <div class="feature text-center col-md-4">
      <img src="{% static 'img/Duckling_pile_feature.png' %}" alt="Ducklings" class="img-circle" />
      <p>
      With European carp under control, native species like ducks and trout will rebound.
      </p>
    </div>
  </div>

  <hr/>


  <hr/>


  <div class="row" id="mission-statement">
    <div class="col-md-8">
      <p class="lead">
      Carp Solutions LLC is the Idaho manufacturer of Carpe Carpum liquid Hydrolysate Organic 
      Fertilizer derived from invasive European carp. 
      </p>

      <p>
      We are fisherman with a healthy 
      solution to the European carp problem. We are committed to the cleanup of Idaho’s 
      lakes and rivers and we do our part by taking Idaho’s invasive European carp and 
      converting them to an all natural, ISDA pending certified Organic fertilizer. 
      </p>

      <p>
      The job is messy, but it is great for our planet, and we are happy to do it.
      </p>
    </div>
    <div class="col-md-4">
      <h4>Fertilizer Composition</h4>
      <table class="table-striped">
        <tr>
          <th>Property</th>
          <th>Amount</th>
        </tr>
        <tr>
          <td>Nitrogen</td>
          <td>2.85%</td>
        </tr>
        <tr>
          <td>Phosphate</td>
          <td>1.61%</td>
        </tr>
        <tr>
          <td>Potash</td>
          <td>0.25%</td>
        </tr>
      </table>
      <p><a href="{% static 'doc/fertilizer-test.pdf' %}">See full report</a> for additional nutrients.</p>
    </div>
  </div>
</div>

{% endblock %}
